.grid-column-carousel {
  overflow: hidden;
}

.grid-column-carousel__list {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;


  &.disable-transition {
    transition: none;
  }

  //clearfix styling
  &:after, &:before {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }

  &.initialized {
    width: 9999px;

    > * {
      display: block;
    }
  }

  > * {
    display: none;
  }

  [data-gcc-ignore] {
    display: none;
  }

  img {
    pointer-events: none;
  }
}
